export VIRTUAL_ENV=.venv
# model="MODEL_NAME_FROM_OPENROUTER",  # E.g., "openai/gpt-4o"
export OPENAI_BASE_URL=https://openrouter.ai/api/v1
# OPENROUTER_API_KEY via .env

layout python3

dotenv_if_exists
